.Projects {
  background-color: black;
  padding-bottom: 15%;
  padding-top: 4%;
  position: relative;
}

.Projects h2 {
  font-size: 1.25em;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.Projects p {
  font-size: .85em;
  font-weight: 100;
  display: flex;
  justify-content: center;
}

.Projects a {
  font-size: .95em;
  font-weight: 100;
  display: flex;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}


.Projects .Background {
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
  z-index: 0;
  opacity: 35%;
}

.Projects .ProjectsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Projects .Images {
  width: 95%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-right: 1%;
}

.Projects .Paragraph {
  width: 65%;
  z-index: 1;
  padding-left: 25%;
  /* padding-bottom: 2%; */
}

.Projects .ImageContainer .Thumbnail img {
  max-width: 45vw;
  /* border-radius: 5%; */
  border: 1px solid white;
  /* box-shadow: 0px 0px 5px 1px #c5d248; */
  padding: .5%;
  cursor: pointer;
}

.Projects .ImageContainer .Text {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.Projects .ImageContainer .Thumbnail {
  padding: 5%;
  position: relative;
}

.Projects .ImageContainer .Thumbnail .PlayButton {
  position: absolute;
  width: 24%;
  left: 40%;
  top: 29%;
  cursor: pointer;
}

.Projects .Images .ImageContainer {
  display: flex;  
  background: black;
  margin: 2%;
  width: 43vw;
  height: 100%;
  flex-direction: column;
  align-items: center;
  /* border-radius: 5px;
  box-shadow: 0px 0px 5px 1px white; */
}

.Projects .LinkContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin: 0 15%; */
  /* width: 80%; */
}

.Projects .LinkContainer .Button {
  background-color: black;
  border-radius: 10px;
  margin: 15px;
  width: 125px;
}

.Projects .LinkContainer .Button p {
  padding: 4px;
}

.Projects .LinkContainer .Button:hover {
  /* display: block;
  flex-wrap: wrap; */
  box-shadow: 0 0 8px 4px #518697;
  color: rgb(51, 51, 51);
  /* padding: 2em;
  margin-left: 13%;
  margin-right: 13%;
  line-height: 1.75em;
  font-size: 1em; */
  /* font-weight: lighter;
  border: 1px solid #518697; */
}

.Projects .ImageContainer .Text .Hr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
}


/* ------------ Mobile ------------ */

@media (max-width: 990px) {
  .Projects .Images {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
  }

  .Projects .Images .ImageContainer {
    display: flex;  
    background: black;
    margin: 2%;
    width: 85vw;
    height: 65vh;
    flex-direction: column;
    align-items: center;
    /* border-radius: 5px;
    box-shadow: 0px 0px 5px 1px white; */
  }

  .Projects .ImageContainer .Thumbnail img {
    max-width: 75vw;
    /* border-radius: 5%; */
    border: 1px solid white;
    /* box-shadow: 0px 0px 5px 1px white; */
    padding: 1%;
    cursor: pointer;
  }

  .Projects .ImageContainer .Text {
    padding: 0 5% 5% 5%;
  }

  /* .Projects .Paragraph {
    width: 65%;
    z-index: 1;
    padding-left: 25%;
    padding-bottom: 5%;
  } */
}