.AboutMe {
  background-color: #151515;
  padding-bottom: 2%;
  padding-top: 4%;
}

.AboutMe .Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.AboutMe .Container .Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
}

.AboutMe .Container .Text .ParagraphOne {
  display: flex;
  justify-content: center;
  width: 35vw;
  min-height: 100%;
}

.AboutMe .Container .Text .ParagraphTwo {
  display: flex;
  justify-content: center;
  min-width: 35vw;
  min-height: 100%;
}

.AboutMe .Container .Text h2 {
  font-weight: 900;
  font-size: 2.875rem;
}

.AboutMe .Container .Text p {
  font-weight: 200;
  font-size: 1rem;
  color: white;
  /* column-count: 2;
  column-gap: 5%; */
  /* text-indent: 5%; */
  /* justify-content:baseline; */
  padding: 2em 0em;
  line-height: 1.5em;
  font-size: 1.125rem;
  font-weight: lighter;
}

.AboutMe .Container .Text a {
  font-weight: 200;
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.AboutMe .Container .Text a:hover {
  font-weight: 200;
  font-size: 1rem;
  color:#518697;
  text-decoration: none;
}

.AboutMe .Container .Photo {
  width: 60vw;
  display: flex;
  justify-content: center;
  margin-right: 5%;
}

.AboutMe .Container .Photo .Me {
  max-height: 600px;
  /* border-radius: 5%; */
  margin: 2%;
  filter: grayscale(100%);

}




@media (max-width: 1275px) {

}


@media (max-width: 990px) {

  .AboutMe {
    background-color: #151515;
    padding-bottom: 5%;
    padding-top: 0;
  }

  .AboutMe .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .AboutMe .Container .Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .AboutMe .Container .Text .ParagraphOne {
    display: flex;
    justify-content: center;
    width: 85vw;
    min-height: 100%;
  }

  .AboutMe .Container .Photo {
    margin: 0 !important;
  }

}


@media (max-width: 824px) {
  .About .AboutMe h1 {
    margin-top: 15% !important;
  }
}


/* ------------ Mobile ------------ */