.Container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
  padding-top: 2%;
}

.Container hr {
  position: absolute;
  left: 0;
  width: 224px;
  border: 1px solid #c5d248;
}

.Container h1 {
  color: white;
}