.Container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
  padding-top: 2%;
}

.Container hr {
  position: absolute;
  left: 0;
  width: 224px;
  border: 1px solid #4de29d;
}

.Container h1 {
  color: white;
}


@media (max-width: 824px) {
  .Container {
    margin-top: 0 !important;
    padding-top: -5 !important;
  }
  
  .Container .Title {
    padding-top: 10% !important;
  }

  .Container .HR {
    padding-bottom: 10% !important;
  }
}


@media (max-width: 600px) {
  .Container .HR {
    /* display: none; */
    padding-bottom: 20% !important;
  }
  .Container .Title {
    padding-top: 15% !important;
  }
  .Container {
    display: flex;
    justify-content: left !important;
    padding-left: 5%;
  }
}