.Home {
  background: #191D1F;
  background: linear-gradient(90deg, black 65%, #c5d248 95%);
  display: flex;
  height: 630px;
  padding-top: 80px;
  position: relative;
}

.Home .Container {
  position: absolute;
  top: 15%;
  left: 5%;
  color: white;
}

.Home .Container .Hello {
  font-size: 5rem;
  padding-top: 10%;
}

.Home .Container h1 {
  margin: 0;
  font-size: 3rem;
  letter-spacing: 5px;
  display: flex;
  position: relative;
}

.Home .Container h2 {
  margin: 0;
  font-size: 3.4rem;
  font-weight: 200;
  padding-top: 1%;
  letter-spacing: 6px;
  display: flex;
  position: relative;
}

.Home .Container p {
  font-size: .9rem;
  margin-right: 5%;
  padding-top: 3%;
  letter-spacing: 5px;
  display: flex;
  position: relative;
}

.Home .Antenna {
  height: 20%;
  position: absolute;
  bottom: 8%;
  left: 5%;
  padding: 1%;
}

.Home .Column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home .Row {
  display: flex;
  align-items: center;
  justify-content: left;
}

.Home .Icons {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-bottom: 5%;
}

.Home .Resume {
  font-size: .9rem;
  letter-spacing: 3px;
}