.Container {
  background: #242424;
  height: 100%;
  justify-content: center;
}

.Footer {  
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 2%;
  }


.Footer .FooterIcons {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.Footer .FooterIcons svg path {
  cursor: pointer;
}


@media (max-width: 600px) {
  .Footer {  
    width: 80%;
    margin-left: 10%;
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 2%;
  }
  .Footer h2 {
    margin-bottom: 5%;
  }
}
