h1{
  font-weight: 900;
  font-size: 45px;
  color: white;
}

h2{
  font-weight: 700;
  font-size: 23px;
  color: white;
}

p{
  font-weight: 500;
  font-size: 21px;
  color: white;
}

a{
  font-weight: 900;
  font-size: .75rem;
}

li{
  font-weight: 900;
  font-size: .75rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
